* , :root{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*Variables Section*/
$universal-padding: 2rem;
$primary-color: #009688;
$secondary-color: #00897b;
$terciary-color: #00796b; 
$onePadding: 1.5rem;
$circleImage: 6rem;
$weight-font: 500;


html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}


.headerMain{
    width:100%;
    background:$primary-color;
    
    & .navbarHeader{
        width:80%;
        margin: 0 auto;
        display:grid;
        grid:'logo links';
  
        &-logo{padding: 1rem; grid-area: 'logo';}//end of navbar logo

        &-links{
            grid-area:'links';
          position: relative;
       
          &--listU { 
            display:block; 
            position: absolute;      

            &--item{

            list-style: none;
            float: left;
           
              &-link{
                display: block;
                text-decoration: none;
                color: black;
                padding:$onePadding;
                transition: 0.3s;
                &:hover{
                    background: $secondary-color;
                }
            }//end of the links 
         }//end of the li item 
        }//end of the ul listU


        }//end of listu
    }//end of the navbarHeader
}//end of the headerMain


.landingImage{

    height: 90vh;
    width: 100%;
 background: url('./public/image1.png');
 background-position: center;
 background-size: contain;
}

.displayUsers{

    width: 80%;
    text-align: center;
    margin: 0 auto;

&-container{
 
  display: grid;
  grid-gap: 1rem;
  grid-template-columns:auto auto auto auto;
  padding: $onePadding;
  background: yellow;

  &  .userCard{
     display: block;
      

      &-image{
            display: inline-block;
             background: blue;        
         &-photo{
             display: inline-block;
              width: 12rem;
              height: 12rem;
              object-fit: cover;
              border-radius: $circleImage; 
          }//end of the image
      }//end of the div that contains the image

      &-content{
     background: red;
     display: inline-block;
     padding: 2rem;
      }
  }//end of the card
}//end of the display users container
}//end of the display users global