* , :root{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*Variables Section*/
$less-padding:0.5rem;
$first-padding:1rem;
$second-padding: 2rem;
$third-padding:3rem;
$primary-color: #009688;
$secondary-color: #00897b;
$terciary-color: #004d40 ; 
$backgroundBody: #b0bec5 ;

$circleImage: 6rem;
$weight-font: 500;
$font-color: #37474f;

@mixin clearFix {
    content: '';
    clear: both;
    display: flex;   
}


html{
    font-size: 62.5%;
    font-family: 'Prompt', sans-serif;
    background: $backgroundBody;
    
}



.headerMain{
    width:100%;
    background:$primary-color;
    
    & .navbarHeader{
        width:80%;
        margin: 0 auto;
        display:grid;
        grid:'logo links';
  
        &-logo{padding: 1rem; grid-area: 'logo';}//end of navbar logo

        &-links{
            grid-area:'links';
          position: relative;
       
          &--listU { 
            display:block; 
            position: absolute;      

            &--item{

            list-style: none;
            float: left;
           
              &-link{
                display: block;
                text-decoration: none;
                color: $font-color;
                padding:$first-padding;
                transition: 0.3s;
                &:hover{
                    background: $secondary-color;
                }
            }//end of the links 
         }//end of the li item 
        }//end of the ul listU


        }//end of listu
    }//end of the navbarHeader
}//end of the headerMain


.landingImage{

    height: 90vh;
    width: 100%;
 background: url('./public/image1.png');
 background-position: center;
 background-size: contain;
}

.displayUsers{

    width: 80%;
    text-align: center;
    margin: 0 auto;
 
    
&-container{
 
  display: grid;
  grid-gap: 1rem;
  grid-template-columns:auto auto auto auto;
  padding: $first-padding;
  
  
  &  .userCard{
     display: block;
     padding: 1rem;
     border: 0.5px   solid $secondary-color;
     transition: 0.2s;
     background: $primary-color;
     &:hover{
         transform: translateY(-0.5rem);
     }

      &-image{
           
            background: transparent;
            padding:$first-padding;
            
         &-photo{
             display: inline-block;
              width: 12rem;
              height: 12rem;
              object-fit: cover;
              border-radius: $circleImage; 
          }//end of the image
      }//end of the div that contains the image

      &-content{
     display: inline-block;
   
     padding:$first-padding;
     margin-top:1rem ;

     &-links{
         display: block;
         color: $terciary-color;
         text-transform: uppercase;
         text-decoration: none;
         font-weight: bold;
         padding: $first-padding;
         transition: 0.2s;

         &:hover{
             background: $secondary-color;
             color: white;
         }
    
     }
     
      }
  }//end of the card
}//end of the display users container
}//end of the display users global


///////////////////////////////////////////////////////////////////
//////STYLING THE USER CARD///////////////////@at-root

.infoCard-global{
    height: 100vh;
    display: grid;
    align-content: center;
    background: linear-gradient(to right , $secondary-color , $terciary-color);
}
.infoCard-container{
    width: 50%;
    height: 25rem;
    margin: 0 auto;
    display: grid;
    grid: 'imageCard contentCard';
    position: relative;
   
    &-image{
        grid-area:'imageCard';
       width:auto;
       background-size: cover;
       background-position:center top;
    }

    &-content{
        grid-area: 'contentCard';
        background: $secondary-color;
        
        position: relative;
        &--information{
            position: absolute;
            display: block;
            width: 100%;
            padding: $second-padding;     
            margin: 0 auto;
            top: 50%;
            transform: translateY(-50%);

            &-element{
                
                &::after{
                @include clearFix();
                }//end of the after to clear the float

                & .icon{
                  float: left;
                  color: $terciary-color;
                }//end of the icon styling

                & .text{ 
                    display: inline-block;
                    padding: 0 $first-padding;
                    font-size: 1rem;
                    color:white;
                    letter-spacing: 0.02rem;
                    
                }//end of the text                
                &:not(:last-child){
                    margin-bottom: 0.7rem;
                }//end of the last child element
            }//end of the element

            & .button-link{
                display: block;
                text-align: center;
                text-decoration: none;
                color: white;
                padding: $first-padding;
                background: $terciary-color;
            }
        }//end of information class
    }//end of the content 
}//end of info card container

/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
//////STYLE THE POSTS CARDS

.postContainer{
    display: block;
    background: linear-gradient(to right , $secondary-color , $terciary-color);
    width:80%;
    margin: 0 auto;
    padding: $first-padding;


    &-card{
     background: $primary-color;
     padding: $first-padding;

     &-title-header{
         color: white;
         font-size: 1.2rem;
         letter-spacing: 2px;
         text-transform: uppercase;
     }

     &-body-span{
         color: white;
         display: inline-block;
         font-size: 1.1rem;
         padding: $second-padding 0;
         
     }
    }
}